* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-image: url(https://img.pikbest.com/wp/202344/snowflake-snow-texture-black-isolated-background-with-white-snowflakes_9924109.jpg!sw800);
    color: white;
    text-align: center;
}

h2 {
    background-image: url(https://img.pikbest.com/wp/202344/snowflake-snow-texture-black-isolated-background-with-white-snowflakes_9924109.jpg!sw800);
    color: white;
    text-align: center;
}

.just {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: mediumaquamarine;
}

a:hover {
    color: mediumslateblue;
}

.focus {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
    display: inline;
}

.style1 {
    color: darkcyan;
    opacity: 0.75;
    display: inline;
}

.style2 {
    color: midnightblue;
    opacity: 0.75;
}
