* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-image: url(/media/snow.jpg!sw800);
    color: white;
    text-align: center;
}

h2 {
    background-image: url(/media/snow.jpg!sw800);
    color: white;
    text-align: center;
}

.just {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.do-it:hover {
    color: red;
}

a {
    color: mediumaquamarine;
    text-decoration: none;
}

a:hover {
    color: mediumslateblue;
}

.focus {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
    display: inline;
}

.style1 {
    color: darkcyan;
    opacity: 0.75;
    display: inline;
}

.style2 {
    color: midnightblue;
    opacity: 0.75;
    display: inline;
}

.style3 {
    color: darkmagenta;
    opacity: 0.75;
    display: inline;
}

.style4 {
    color: goldenrod;
    opacity: 1;
    font-weight: bold;
}

.hover-zoom {
    transition: transform 0.3s ease;
  }
  
  .hover-zoom:hover {
    transform: scale(1.1);
  }

.footer {
    text-align: center;
    color: gray;
}

